html, body, div, span, textarea, button, input, table, tr, td {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px
}

div, span, td, tr {
  vertical-align: top;
}

input, button {
  font-size: 20px;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

#query {
  width: 24em;
}

.link {
  text-decoration: underline;
  color: #0645AD;
}

.visited_link {
  text-decoration: underline;
  color: #0B0080;
}

.facet_name {

}

.active_facet {

}

.search_result {
  padding-bottom: 2em;
}

.search_result_diarienummer {
  font-weight: bold;
}

.search_result_diarium {
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.search_result_group_item {
  padding-left: 4em;
}

.search_result_type {
  padding-left: 0.75em;
  padding-right: 0.75em;
  text-decoration: underline;
}
.search_result_timestamp {
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.search_result_title {
  text-decoration: underline;
  font-size: large;
}

.search_result_group_item_type {
  font-weight: bold;
  padding-left: 0.75em;
  padding-right: 0.75em;

}

.search_result_group_item_title {
  padding-left: 0.75em;
  padding-right: 0.75em;
  width: 50em;
}

.search_result_group_item_score {
  padding-left: 0.75em;
  padding-right: 0.75em;
  width: 50em;
}